<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_User>
        <version>0.1.0</version>
        </Ccc_User>
    </modules>
    <frontend>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>Ccc_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>
            <updates>
                <User module="Ccc_User">
                    <file>Ccc_Vendor.xml</file>
                </User>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <user>
                <class>Ccc_User_Model</class>
                <resourceModel>user_resource</resourceModel>
            </user> 
            <user_resource>
                <class>Ccc_User_Model_Resource</class>
                <deprecatedNode>user_mysql4</deprecatedNode>
                <entities>
                    <user>
                        <table>user</table>
                    </user>
                </entities>
            </user_resource>   
        </models>
        <resources>
            <user_setup>
                <setup>
                    <module>Ccc_User</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </user_setup>
            <user_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </user_write>
            <user_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </user_read>
        </resources>
        <blocks>
            <user>
                <class>Ccc_User_Block</class>
            </user>    
        </blocks>
        <helpers>
            <user>
                <class>Ccc_User_Helper</class>
            </user>    
        </helpers>
    </global>
    <admin>
        <routers>
            <User>
                <use>admin</use>
                <args>
                    <module>Ccc_User</module>
                    <frontName>user</frontName>
                </args>
            </User>
        </routers>
        <layout>
            <updates>
                <user>
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </admin>
</config> 
