<config>
    <modules>
        <SG_Salesman>    
            <version>1.0.1</version>
        </SG_Salesman>
    </modules>
    <frontend>
    </frontend>
    <global>
        <models>
            <salesman>
                <class>SG_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>SG_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                    <salesman_address>
                        <table>salesman_address</table>
                    </salesman_address>
                </entities>
            </salesman_resource>
        </models>
        <resources>
            <salesman_setup>
                <setup>
                    <module>SG_Salesman</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources>
        <blocks>
            <salesman>
                <class>SG_Salesman_Block</class>
            </salesman>
        </blocks>
        <helpers>
           <salesman>
                  <class>SG_Salesman_Helper</class>
            </salesman>
        </helpers>
    </global>
    <admin>
        <routers>
            <Salesman>
                <use>admin</use>
                <args>
                    <module>SG_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </Salesman>
        </routers>
         <!-- <layout>
            <updates>
                <vendor>
                    <file>vendor.xml</file>
                </vendor>
            </updates>
        </layout> -->
    </admin>
</config>