<?xml version="1.0"?>
<config>
    <modules>
        <SG_Product>
        <version>1.0.0</version>
        </SG_Product>
    </modules>
    <frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>SG_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <product>
                <class>SG_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product> 
            <product_resource>
                <class>SG_Product_Model_Resource</class>
                <deprecatedNode>product_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>   
        </models>
        <resources>
            <product_setup>
                <setup>
                    <module>SG_Product</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>
        <blocks>
            <product>
                <class>SG_Product_Block</class>
            </product>    
        </blocks>
        <helpers>
            <product>
                <class>SG_Product_Helper</class>
            </product>    
        </helpers>
    </global>
    <admin>
        <routers>
            <Product>
                <use>admin</use>
                <args>
                    <module>SG_Product</module>
                    <frontName>product</frontName>
                </args>
            </Product>
        </routers>
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </admin>
</config> 